:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --background-white-color: #e5e5e5;
  --background-grey-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

/*---------- лого -------------*/

.logo-header,
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.web {
  color: #2196f3;
}

.studio-black {
  font-family: Raleway, sans-serif;
  color: #212121;
}

/*---------- site nav -------------*/
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
  background-color: #ffffff;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--primary-text-color);
}

/*---------- site contacts -------------*/
.site-contacts .link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.site-contacts .link-header:hover,
.site-contacts .link-header:focus {
  color: var(--accent-color);
}

/*---------- Hero -------------*/

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button-hero {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
}

/*---------- features -------------*/

.section-post {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.features-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*---------- cards works -------------*/

/* team */
.team-list-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-list-text {
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*---------- footer -------------*/

.studio-white {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  text-decoration: none;
}

.city {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-link-mail,
.footer-link-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-mail:hover,
.footer-link-mail:focus {
  color: var(--accent-color);
}

.footer-link-tel:hover,
.footer-link-tel:focus {
  color: var(--accent-color);
}

/*---------- filter -------------*/

.filter-button:hover,
.filter-button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
}

/*---------- works section -------------*/
.works-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.works-list-text {
  line-height: 1.88;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
